@model IEnumerable<MYBUSINESS.Models.SO>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>*@

@{
    /**/

    /**/

    int TotalSOQty = 0;
    double TotalSOAmout = 0;
    double SOAmountDiscounted = 0;
    int TotalSRQty = 0;
    double TotalSRAmout = 0;
    double TotalBillPaid = 0;
    double Discount = 0;
    double Balance = 0;
    double PrevBalance = 0;
    double subTotal = 0;
    double TotalsubTotal = 0;
    double Total = 0;
    string whtieSpace = ((char)160).ToString() + ((char)160).ToString() + ((char)160).ToString() + ((char)160).ToString();
    Dictionary<decimal, decimal> LstMaxSerialNo = ViewBag.LstMaxSerialNo as Dictionary<decimal, decimal>;
    <div id="NewData">
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        @*<div class="box-header">
                                <h3 class="box-title">Hover Data Table</h3>
                            </div>*@
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table class="table table-hover cell-border" id="SOSRIndex">
                                <thead>
                                    <tr>
                                        <th style="width:13%;">
                                            @*@Html.DisplayNameFor(model => model.Date)*@
                                            Month
                                        </th>
                                        <th>
                                            Order No.
                                        </th>



                                        @*<th>
                                                @Html.DisplayNameFor(model => model.SaleOrderQty)
                                            </th>*@
                                        <th>
                                            @Html.DisplayNameFor(model => model.SaleOrderAmount)/Debit/Decrease
                                        </th>

                                        @*<th>
                                                @Html.DisplayNameFor(model => model.SaleReturnQty)
                                            </th>*@
                                        @*<th>
                                                @Html.DisplayNameFor(model => model.SaleReturnAmount)
                                            </th>*@
                                        @*
                                            <th>
                                                @Html.DisplayNameFor(model => model.BillAmount)
                                            </th>*@

                                        @*<th>
                                                @Html.DisplayNameFor(model => model.Discount)
                                            </th>*@
                                        @*<th>
                                                Sub Total

                                                <a href="#" data-toggle="tooltip" data-placement="top" title="Sub Total = Order amount - Return Amount - Discount">
                                                    <span class="glyphicon glyphicon-info-sign"></span>
                                                </a>
                                            </th>*@
                                        @*<th>
                                                Prev. Balance
                                            </th>*@
                                        @*<th>
                                                Total
                                                <a href="#" data-toggle="tooltip" data-placement="top" title="Total = Sub Total + Prev. Balance">
                                                    <span class="glyphicon glyphicon-info-sign"></span>
                                                </a>
                                            </th>*@
                                        <th>
                                            @Html.DisplayNameFor(model => model.BillPaid)/Credit/Increase
                                        </th>

                                        <th>
                                            @Html.DisplayNameFor(model => model.Balance)
                                        </th>


                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)

                                    {

                                        if (item.SaleReturnAmount == 2500)
                                        {
                                            string abc = "";
                                        }


                                        for (int turn = 0; turn < 3; turn++)
                                        {
                                            SOAmountDiscounted = 0;

                                            if (turn == 0 && (double)(item.SaleOrderAmount - item.Discount) != 0)//will run in order case
                                            {
                                                @*@(SOAmountDiscounted = (double)(item.SaleOrderAmount - item.Discount))*@
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Date)
                                                    </td>
                                                    <td>
                                                        @*@Html.DisplayFor(modelItem => item.SOSerial)*@

                                                        <ul class="nav navbar-nav">
                                                            <li class="dropdown">
                                                                @item.SOSerial <b class="caret"></b>
                                                                <ul id="products-menu" class="dropdown-menu clearfix" role="menu">
                                                                    <li>

                                                                        @{

                                                                            if (LstMaxSerialNo != null && LstMaxSerialNo.ContainsValue((int)item.SOSerial))
                                                                            {
                                                                                @*@Html.ActionLink("Update", "Edit", new { id = item.Id, update = true })*@

                                                                                <a href="@Url.Action("Edit", "SOSR", new { id = item.Id, update = true })" data-toggle="tooltip" data-placement="top" title="View Sale Order">Update Sale Order</a>
                                                                            }
                                                                            else
                                                                            {

                                                                                @*@Html.ActionLink(whtieSpace + "View", "Edit", new { id = item.Id, update = false })*@

                                                                                <a href="@Url.Action("Edit", "SOSR", new { id = item.Id, update = false })" data-toggle="tooltip" data-placement="top" title="View Sale Order">View Sale Order</a>

                                                                            }

                                                                        }
                                                                    </li>



                                                                </ul>
                                                            </li>
                                                        </ul>


                                                    </td>




                                                    @*<td>
                                                            @Html.DisplayFor(modelItem => item.SaleOrderQty)
                                                            @{ TotalSOQty += (int)item.SaleOrderQty;}
                                                        </td>*@

                                                    <td>
                                                        @if (turn == 0)//order
                                                        {
                                                            @*@Html.DisplayFor(modelItem => item.SaleOrderAmount)*@
                                                            @(SOAmountDiscounted = (double)(item.SaleOrderAmount - item.Discount))
                                                            TotalSOAmout += (double)item.SaleOrderAmount;
                                                        }

                                                    </td>


                                                    @*<td>
                                                            @Html.DisplayFor(modelItem => item.SaleReturnQty)
                                                            @{TotalSRQty += (int)item.SaleReturnQty;}
                                                        </td>*@

                                                    @*<td>
                                                            @if (turn == 1)//return
                                                            {
                                                                @Html.DisplayFor(modelItem => item.SaleReturnAmount)
                                                                TotalSRAmout += (double)item.SaleReturnAmount;
                                                            }
                                                        </td>*@

                                                    @*
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.BillAmount)
                                                        </td>*@

                                                    @*<td>
                                                            @Html.DisplayFor(modelItem => item.Discount)
                                                            @{Discount += (double)item.Discount;}
                                                        </td>*@
                                                    @*<td>
                                                            @(subTotal = (double)(item.SaleOrderAmount - item.SaleReturnAmount - item.Discount))
                                                            @{TotalsubTotal += subTotal;}

                                                        </td>*@
                                                    @*<td>
                                                            @Html.DisplayFor(modelItem => item.PrevBalance)
                                                            @{PrevBalance += (double)item.PrevBalance;}
                                                        </td>*@
                                                    @*<td>
                                                            @(Total = (double)(subTotal + item.PrevBalance))

                                                        </td>*@

                                                    <td>
                                                        @*@if (turn == 2)//balance
                                                        {
                                                            @Html.DisplayFor(modelItem => item.BillPaid)
                                                            TotalBillPaid += item.BillPaid;

                                                        }*@
                                                    </td>

                                                    <td>
                                                        @*@Html.DisplayFor(modelItem => item.Balance)*@
                                                        @if (turn == 0)//order
                                                        {
                                                            @((double)(item.PrevBalance + SOAmountDiscounted))
                                                        }

                                                        @*@if (turn == 2)//balance
                                                        {
                                                            @Html.DisplayFor(modelItem => item.Balance)
                                                        }*@


                                                    </td>

                                                </tr>
                                                //Balance = TotalSOAmout - TotalSRAmout - TotalBillPaid - Discount - PrevBalance;
                                            }


                                            else if (turn == 1 && item.SaleReturnAmount != 0)//will run in return case
                                                                                             //if (turn != 1)
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Date)
                                                    </td>
                                                    <td>
                                                        @*@Html.DisplayFor(modelItem => item.SOSerial)*@

                                                        <ul class="nav navbar-nav">
                                                            <li class="dropdown">
                                                                @item.SOSerial <b class="caret"></b>
                                                                <ul id="products-menu" class="dropdown-menu clearfix" role="menu">
                                                                    <li>

                                                                        @{

                                                                            if (LstMaxSerialNo != null && LstMaxSerialNo.ContainsValue((int)item.SOSerial))
                                                                            {
                                                                                @*@Html.ActionLink("Update", "Edit", new { id = item.Id, update = true })*@

                                                                                <a href="@Url.Action("Edit", "SOSR", new { id = item.Id, update = true })" data-toggle="tooltip" data-placement="top" title="View Sale Order">Update Sale Order</a>
                                                                            }
                                                                            else
                                                                            {

                                                                                @*@Html.ActionLink(whtieSpace + "View", "Edit", new { id = item.Id, update = false })*@

                                                                                <a href="@Url.Action("Edit", "SOSR", new { id = item.Id, update = false })" data-toggle="tooltip" data-placement="top" title="View Sale Order">View Sale Order</a>

                                                                            }

                                                                        }
                                                                    </li>



                                                                </ul>
                                                            </li>
                                                        </ul>


                                                    </td>




                                                    @*<td>
                                                            @Html.DisplayFor(modelItem => item.SaleOrderQty)
                                                            @{ TotalSOQty += (int)item.SaleOrderQty;}
                                                        </td>*@

                                                    <td>



                                                        @*@Html.DisplayFor(modelItem => item.SaleReturnAmount * (-1))*@
                                                        @(item.SaleReturnAmount * -1)
                                                        @{TotalSOAmout -= (double)item.SaleReturnAmount;}



                                                    </td>


                                                    @*<td>
                                                            @Html.DisplayFor(modelItem => item.SaleReturnQty)
                                                            @{TotalSRQty += (int)item.SaleReturnQty;}
                                                        </td>*@

                                                    @*<td>
                                                            @if (turn == 1)//return
                                                            {
                                                                @Html.DisplayFor(modelItem => item.SaleReturnAmount)
                                                                TotalSRAmout += (double)item.SaleReturnAmount;
                                                            }
                                                        </td>*@

                                                    @*
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.BillAmount)
                                                        </td>*@

                                                    @*<td>
                                                            @Html.DisplayFor(modelItem => item.Discount)
                                                            @{Discount += (double)item.Discount;}
                                                        </td>*@
                                                    @*<td>
                                                            @(subTotal = (double)(item.SaleOrderAmount - item.SaleReturnAmount - item.Discount))
                                                            @{TotalsubTotal += subTotal;}

                                                        </td>*@
                                                    @*<td>
                                                            @Html.DisplayFor(modelItem => item.PrevBalance)
                                                            @{PrevBalance += (double)item.PrevBalance;}
                                                        </td>*@
                                                    @*<td>
                                                            @(Total = (double)(subTotal + item.PrevBalance))

                                                        </td>*@

                                                    <td>

                                                        @Html.DisplayFor(modelItem => item.BillPaid)
                                                        @{TotalBillPaid += item.BillPaid;}

                                                    </td>

                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Balance)


                                                        @*@((double)(item.PrevBalance - SOAmountDiscounted))*@




                                                    </td>

                                                </tr>
                                                //Balance = TotalSOAmout - TotalSRAmout - TotalBillPaid - Discount - PrevBalance;
                                            }
                                            else if (turn == 2)//will run in order case
                                            {
                                                @*@(SOAmountDiscounted = (double)(item.SaleOrderAmount - item.Discount))*@
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Date)
                                                    </td>
                                                    <td>
                                                        @*@Html.DisplayFor(modelItem => item.SOSerial)*@

                                                        <ul class="nav navbar-nav">
                                                            <li class="dropdown">
                                                                @item.SOSerial <b class="caret"></b>
                                                                <ul id="products-menu" class="dropdown-menu clearfix" role="menu">
                                                                    <li>

                                                                        @{

                                                                            if (LstMaxSerialNo != null && LstMaxSerialNo.ContainsValue((int)item.SOSerial))
                                                                            {
                                                                                @*@Html.ActionLink("Update", "Edit", new { id = item.Id, update = true })*@

                                                                                <a href="@Url.Action("Edit", "SOSR", new { id = item.Id, update = true })" data-toggle="tooltip" data-placement="top" title="View Sale Order">Update Sale Order</a>
                                                                            }
                                                                            else
                                                                            {

                                                                                @*@Html.ActionLink(whtieSpace + "View", "Edit", new { id = item.Id, update = false })*@

                                                                                <a href="@Url.Action("Edit", "SOSR", new { id = item.Id, update = false })" data-toggle="tooltip" data-placement="top" title="View Sale Order">View Sale Order</a>

                                                                            }

                                                                        }
                                                                    </li>



                                                                </ul>
                                                            </li>
                                                        </ul>


                                                    </td>




                                                    @*<td>
                                                            @Html.DisplayFor(modelItem => item.SaleOrderQty)
                                                            @{ TotalSOQty += (int)item.SaleOrderQty;}
                                                        </td>*@

                                                    <td>
                                                        @*@if (turn == 0)//order
                                                        {
                                                            
                                                            @(SOAmountDiscounted = (double)(item.SaleOrderAmount - item.Discount))
                                                            TotalSOAmout += (double)item.SaleOrderAmount;
                                                        }*@

                                                    </td>


                                                    @*<td>
                                                            @Html.DisplayFor(modelItem => item.SaleReturnQty)
                                                            @{TotalSRQty += (int)item.SaleReturnQty;}
                                                        </td>*@

                                                    @*<td>
                                                            @if (turn == 1)//return
                                                            {
                                                                @Html.DisplayFor(modelItem => item.SaleReturnAmount)
                                                                TotalSRAmout += (double)item.SaleReturnAmount;
                                                            }
                                                        </td>*@

                                                    @*
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.BillAmount)
                                                        </td>*@

                                                    @*<td>
                                                            @Html.DisplayFor(modelItem => item.Discount)
                                                            @{Discount += (double)item.Discount;}
                                                        </td>*@
                                                    @*<td>
                                                            @(subTotal = (double)(item.SaleOrderAmount - item.SaleReturnAmount - item.Discount))
                                                            @{TotalsubTotal += subTotal;}

                                                        </td>*@
                                                    @*<td>
                                                            @Html.DisplayFor(modelItem => item.PrevBalance)
                                                            @{PrevBalance += (double)item.PrevBalance;}
                                                        </td>*@
                                                    @*<td>
                                                            @(Total = (double)(subTotal + item.PrevBalance))

                                                        </td>*@

                                                    <td>
                                                        @if (turn == 2)//balance
                                                        {
                                                            @Html.DisplayFor(modelItem => item.BillPaid)
                                                            TotalBillPaid += item.BillPaid;

                                                        }
                                                    </td>

                                                    <td>
                                                        @*@Html.DisplayFor(modelItem => item.Balance)*@
                                                        @*@if (turn == 0)//order
                                                        {
                                                            @((double)(item.PrevBalance + SOAmountDiscounted))
                                                        }*@

                                                        @if (turn == 2)//balance
                                                        {
                                                            @Html.DisplayFor(modelItem => item.Balance)
                                                        }


                                                    </td>

                                                </tr>
                                                //Balance = TotalSOAmout - TotalSRAmout - TotalBillPaid - Discount - PrevBalance;
                                            }

                                        }
                                    }

                                </tbody>
                                <tfoot>
                                    <tr style="font-weight:bold">
                                        <td></td>
                                        <td>@Model.Count()</td>

                                        @*<td>@TotalSOQty</td>*@
                                        <td>@TotalSOAmout</td>

                                        @*<td>@TotalSRQty</td>*@
                                        @*<td>@TotalSRAmout</td>*@

                                        @*<td>@Discount</td>*@
                                        @*<td>@TotalsubTotal</td>*@
                                        @*<td>@PrevBalance</td>*@
                                        @*<td></td>*@
                                        <td>@TotalBillPaid</td>

                                        <td>@ViewBag.TotalBalance</td>

                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {

        //$('#SOSRIndex').DataTable({
        //    fixedHeader: {
        //        footer: true
        //    }
        //});
        $('#').DataTable({
            //fixedHeader: {
            //    header: true,
            //    footer: true
            //},
            "scrollY": "400px",
            "scrollCollapse": true,
            "paging": false,
            "bInfo": false,
            "order": [[0, "asc"]],
            "searching": false,
            "ordering": false

        });


    });


</script>
